@font-face{
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu.ttf");
}

*{
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu";
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.header-whrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    height: 85px;
}

.menu{
    list-style-type: none;
    display: block;
}

.menu > li{
    display: inline;
    color: #949aa4;
    margin: 0 18px;
    text-transform: uppercase;
    user-select: none;
    white-space: pre;
}

.menu > li:hover{
    cursor: pointer;
    color:#7d818a;
}

.menu > li:active{
    cursor: pointer;
    color:#64666d;
}

/* Main section */

.main-section{
    color: #ffffff;
    height: 840px;
    width: 100%;
    background: url(../img/__\ Banner.png) no-repeat 45% -60%, linear-gradient(90deg, #64a7d6 0%, #68aedf 44%,#5da1cf 100%);
}

.info{
    margin-top: 230px;
    margin-left: 15%;
}

.info > h1{
    font-size: 52px;
    color: #ffffff;
    max-width: 480px;
    text-transform: uppercase;
    line-height: 1.5;
}

.info > h2{
    font-size: 24px;
    color: #ffffff;
    margin-top: 60px;
}

.signup-text{
    font-size: 16px;
    margin-top: 70px;
    color: #ffffff;
}

.signup-text > #free{
    padding: 5px;
    background: #ffce54;
    text-transform: uppercase;
    border-radius: 2px;
}

.signup{
    display: flex;
    height: 52px;
    margin-top: 30px;
    color: #ffffff;
}

.signup > input{
    width: 420px;
    text-indent: 20px;
    border-radius: 7px;
}

.signup > input::placeholder{
    width: 420px;
    text-indent: 20px;
    border-radius: 7px;
}

.signup > button{
    background:#77c344;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 15px;
    width: 105px;
}

.companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    box-sizing: border-box;
}

/* SECTIONS */

section > h2{
    font-size: 40px;
    font-family: "Ubuntu";
    text-transform: uppercase;
    text-align: center;
}


.features-whrapper{
    height: 1000px;
    background: url(..//img/macbook.png) no-repeat 100%;
}

.features{
    width: 500px;
    margin-left: 10%;
    padding-top: 200px;
}

.feature-text{
    font-size: 14px;
    color: #9499a2;
    margin-top: 20px;
    margin-left: 10px;
}

.feature{
    margin-top: 30px;
}

.title-feature{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px; 
}

.title-feature > img{
    margin-right: 20px;
}